---
import Layout from '@layouts/Layout.astro'
---

<Layout
  lang='pt-br'
  title='Links'
  description='Exemplos de diferentes métodos para simular um link e como eles afetam a experiência de diferentes usuários.'
>
  <main class='py-16 text-base sm:text-xl'>
    <div class='mx-auto grid w-11/12 max-w-4xl gap-10'>
      <h1 class='text-5xl font-bold text-indigo-800 sm:text-6xl dark:text-indigo-300'>Links</h1>
      <p class='text-xl sm:text-2xl'>
        Os links são uma parte importante de qualquer site. Eles permitem que os usuários naveguem
        para outras páginas ou recursos. Os exemplos a seguir demonstram a diferença entre um link
        criado corretamente e alternativas não acessíveis e como elas afetam a experiência do
        usuário.
      </p>
      <section
        aria-labelledby='click'
        class='grid w-full place-items-start gap-4 rounded-lg border-2 border-gray-300 px-4 py-6 dark:border-gray-600'
      >
        <h2 id='click' class='text-2xl font-bold sm:text-3xl'>Span com evento de clique</h2>
        <details>
          <summary
            class='cursor-pointer outline-offset-4 marker:text-indigo-600 focus-visible:outline-black dark:marker:text-indigo-400 dark:focus-visible:outline-white'
          >
            Comportamento
          </summary>
          <div class='px-4'>
            <ul class='list-inside list-disc'>
              <li>Precisa de JavaScript para funcionar</li>
              <li>Clicável com um mouse, dedo ou dispositivo de apontamento</li>
            </ul>
          </div>
        </details>
        <div>
          Exemplo:
          <span
            data-href='/pt-br/'
            class='fake-link cursor-pointer underline decoration-indigo-600 underline-offset-2 hover:decoration-indigo-800 hover:decoration-4 dark:decoration-indigo-400 dark:hover:decoration-indigo-200'
          >
            Página Inicial
          </span>
        </div>
      </section>
      <section
        aria-labelledby='click-index'
        class='grid w-full place-items-start gap-4 rounded-lg border-2 border-gray-300 px-4 py-6 dark:border-gray-600'
      >
        <h2 id='click-index' class='text-2xl font-bold sm:text-3xl'>
          Span com evento de clique e tab index
        </h2>
        <details>
          <summary
            class='cursor-pointer outline-offset-4 marker:text-indigo-600 focus-visible:outline-black dark:marker:text-indigo-400 dark:focus-visible:outline-white'
          >
            Comportamento
          </summary>
          <div class='px-4'>
            <ul class='list-inside list-disc'>
              <li>Precisa de JavaScript para funcionar</li>
              <li>Clicável com um mouse, dedo ou dispositivo de apontamento</li>
              <li>Possui um indicador de foco visível</li>
            </ul>
          </div>
        </details>
        <div>
          Exemplo:
          <span
            tabindex='0'
            data-href='/pt-br/'
            class='fake-link cursor-pointer underline decoration-indigo-600 underline-offset-2 outline-offset-4 hover:decoration-indigo-800 hover:decoration-4 focus-visible:outline-black dark:decoration-indigo-400 dark:hover:decoration-indigo-200 dark:focus-visible:outline-white'
          >
            Página Inicial
          </span>
        </div>
      </section>
      <section
        aria-labelledby='click-index-keyboard'
        class='grid w-full place-items-start gap-4 rounded-lg border-2 border-gray-300 px-4 py-6 dark:border-gray-600'
      >
        <h2 id='click-index-keyboard' class='text-2xl font-bold sm:text-3xl'>
          Span com evento de clique, tab index e handler de clique do teclado
        </h2>
        <details>
          <summary
            class='cursor-pointer outline-offset-4 marker:text-indigo-600 focus-visible:outline-black dark:marker:text-indigo-400 dark:focus-visible:outline-white'
          >
            Comportamento
          </summary>
          <div class='px-4'>
            <ul class='list-inside list-disc'>
              <li>Precisa de JavaScript para funcionar</li>
              <li>Clicável com um mouse, dedo ou dispositivo de apontamento</li>
              <li>Possui um indicador de foco visível</li>
              <li>
                Pode ser ativado usando a tecla <kbd>Enter</kbd>, mas requer um handler de clique do
                teclado manual
              </li>
            </ul>
          </div>
        </details>
        <div>
          Exemplo:
          <span
            tabindex='0'
            data-href='/pt-br/'
            data-enable-keyboard-handler='true'
            class='fake-link cursor-pointer underline decoration-indigo-600 underline-offset-2 outline-offset-4 hover:decoration-indigo-800 hover:decoration-4 focus-visible:outline-black dark:decoration-indigo-400 dark:hover:decoration-indigo-200 dark:focus-visible:outline-white'
          >
            Página Inicial
          </span>
        </div>
      </section>
      <section
        aria-labelledby='click-index-keyboard-role'
        class='grid w-full place-items-start gap-4 rounded-lg border-2 border-gray-300 px-4 py-6 dark:border-gray-600'
      >
        <h2 id='click-index-keyboard-role' class='text-2xl font-bold sm:text-3xl'>
          Span com evento de clique, tab index, handler de clique do teclado e função (role) de
          "link"
        </h2>
        <details>
          <summary
            class='cursor-pointer outline-offset-4 marker:text-indigo-600 focus-visible:outline-black dark:marker:text-indigo-400 dark:focus-visible:outline-white'
          >
            Comportamento
          </summary>
          <div class='px-4'>
            <ul class='list-inside list-disc'>
              <li>Precisa de JavaScript para funcionar</li>
              <li>Clicável com um mouse, dedo ou dispositivo de apontamento</li>
              <li>Possui um indicador de foco visível</li>
              <li>
                Pode ser ativado usando a tecla <kbd>Enter</kbd>, mas requer um handler de clique do
                teclado manual
              </li>
              <li>É identificado como um link por leitores de tela</li>
            </ul>
          </div>
        </details>
        <div>
          Exemplo:
          <span
            role='link'
            tabindex='0'
            data-href='/pt-br/'
            data-enable-keyboard-handler='true'
            class='fake-link cursor-pointer underline decoration-indigo-600 underline-offset-2 outline-offset-4 hover:decoration-indigo-800 hover:decoration-4 focus-visible:outline-black dark:decoration-indigo-400 dark:hover:decoration-indigo-200 dark:focus-visible:outline-white'
          >
            Página Inicial
          </span>
        </div>
      </section>
      <section
        aria-labelledby='button-index'
        class='grid w-full place-items-start gap-4 rounded-lg border-2 border-gray-300 px-4 py-6 dark:border-gray-600'
      >
        <h2 id='button-index' class='text-2xl font-bold sm:text-3xl'>
          Botão com função (role) de "link"
        </h2>
        <details>
          <summary
            class='cursor-pointer outline-offset-4 marker:text-indigo-600 focus-visible:outline-black dark:marker:text-indigo-400 dark:focus-visible:outline-white'
          >
            Comportamento
          </summary>
          <div class='px-4'>
            <ul class='list-inside list-disc'>
              <li>Precisa de JavaScript para funcionar</li>
              <li>Clicável com um mouse, dedo ou dispositivo de apontamento</li>
              <li>Possui um indicador de foco visível por padrão</li>
              <li>
                Pode ser ativado usando as teclas <kbd>Enter</kbd> ou <kbd>Espaço</kbd> (não padrão para
                links) sem um handler de clique do teclado manual
              </li>
              <li>É identificado como um link por leitores de tela</li>
            </ul>
          </div>
        </details>
        <div>
          Exemplo:
          <button
            role='link'
            data-href='/pt-br/'
            class='fake-link cursor-pointer underline decoration-indigo-600 underline-offset-2 outline-offset-4 hover:decoration-indigo-800 hover:decoration-4 focus-visible:outline-black dark:decoration-indigo-400 dark:hover:decoration-indigo-200 dark:focus-visible:outline-white'
          >
            Página Inicial
          </button>
        </div>
      </section>
      <section
        aria-labelledby='proper-link'
        class='grid w-full place-items-start gap-4 rounded-lg border-2 border-gray-300 px-4 py-6 dark:border-gray-600'
      >
        <h2 id='proper-link' class='text-2xl font-bold sm:text-3xl'>Link correto</h2>
        <details>
          <summary
            class='cursor-pointer outline-offset-4 marker:text-indigo-600 focus-visible:outline-black dark:marker:text-indigo-400 dark:focus-visible:outline-white'
          >
            Comportamento
          </summary>
          <div class='px-4'>
            <ul class='list-inside list-disc'>
              <li>Não precisa de JavaScript para funcionar</li>
              <li>Clicável com um mouse, dedo ou dispositivo de apontamento</li>
              <li>Possui um indicador de foco visível por padrão</li>
              <li>
                Pode ser ativado usando a tecla <kbd>Enter</kbd> sem a necessidade de um handler de clique
                do teclado manual
              </li>
              <li>É identificado como um link por leitores de tela</li>
              <li>Permite que determinados navegadores exibam o URL de destino</li>
              <li>
                Ativa o menu contextual ao clicar com o botão direito do mouse com recursos como
                abrir em uma nova janela ou guia
              </li>
            </ul>
          </div>
        </details>
        <div>
          Exemplo:
          <a
            href='/pt-br/'
            class='fake-link cursor-pointer underline decoration-indigo-600 underline-offset-2 outline-offset-4 hover:decoration-indigo-800 hover:decoration-4 focus-visible:outline-black dark:decoration-indigo-400 dark:hover:decoration-indigo-200 dark:focus-visible:outline-white'
          >
            Página Inicial
          </a>
        </div>
      </section>
    </div>
  </main>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const fakeLinks = document.querySelectorAll<HTMLElement>('.fake-link')
    if (fakeLinks.length) {
      fakeLinks.forEach((link) => {
        link.addEventListener('click', () => {
          const href = link.getAttribute('data-href')
          if (href) {
            window.location.href = href
          }
        })

        const enableKeyboard = link.getAttribute('data-enable-keyboard-handler')
        if (enableKeyboard === 'true') {
          link.addEventListener('keydown', (event: KeyboardEvent) => {
            if (event.key === 'Enter') {
              event.preventDefault()
              const href = link.getAttribute('data-href')
              if (href) {
                window.location.href = href
              }
            }
          })
        }
      })
    }
  })
</script>
