---
import { Image } from 'astro:assets'

import Layout from '@layouts/Layout.astro'
import cookie from '@assets/cookie.webp'

import { StarRating } from '@components/star-rating'
---

<Layout title='Recipe Blog Example 1'>
  <header class='flex min-h-16 items-center border-b px-5'>
    <a
      href='/'
      class='text-2xl font-bold outline-2 outline-offset-4 outline-black dark:outline-white'
    >
      Recipe Blog
    </a>
  </header>
  <main aria-labelledby='title' class='bg mx-auto grid max-w-3xl gap-8 px-5 py-8 text-lg'>
    <div class='grid gap-4'>
      <h1 id='title' class='text-4xl font-bold'>Delicious Chocolate Chip Cookies</h1>
      <Image src={cookie} alt='Cookie' class='rounded-lg shadow-lg' loading='eager' />
      <StarRating legend='Rate this recipe' client:load />
    </div>
    <section aria-labelledby='ingredients' class='grid gap-4'>
      <h2 id='ingredients' class='text-3xl font-bold'>Ingredients</h2>
      <ul aria-labelledby='ingredients' class='grid list-inside list-disc gap-2'>
        <li>2 1/4 cups (280g) all-purpose flour</li>
        <li>1 tsp baking soda</li>
        <li>1 tsp salt</li>
        <li>1 cup (230g) unsalted butter, softened</li>
        <li>3/4 cup (150g) granulated sugar</li>
        <li>3/4 cup (165g) packed brown sugar</li>
        <li>2 large eggs</li>
        <li>2 tsp vanilla extract</li>
        <li>2 cups (340g) semi-sweet chocolate chips</li>
      </ul>
    </section>
    <section aria-labelledby='instructions' class='grid gap-4'>
      <h2 id='instructions' class='text-3xl font-bold'>Instructions</h2>
      <ol aria-labelledby='instructions' class='grid list-inside list-decimal gap-2'>
        <li>Preheat the oven to 375°F (190°C). Line baking sheets with parchment paper.</li>
        <li>In a bowl, whisk together flour, baking soda, and salt.</li>
        <li>
          In a large bowl, cream together butter, granulated sugar, and brown sugar until light and
          fluffy.
        </li>
        <li>Beat in eggs one at a time, then stir in vanilla.</li>
        <li>Gradually mix in the dry ingredients until just blended.</li>
        <li>Stir in chocolate chips.</li>
        <li>Drop rounded tablespoons of dough onto the prepared baking sheets.</li>
        <li>Bake for 9 to 11 minutes or until golden brown.</li>
        <li>Let cool on baking sheets for 5 minutes before transferring to a wire rack.</li>
      </ol>
    </section>
  </main>
</Layout>
