---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Accessibility Examples'>
  <main class='py-16'>
    <div class='mx-auto grid w-11/12 max-w-3xl place-items-center gap-10 text-center'>
      <h1 class='text-6xl font-bold'>Accessibility Examples</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis commodi quam dignissimos
        deserunt doloremque accusamus corporis laudantium deleniti inventore ea. Animi ducimus quos
        sed beatae sequi reiciendis assumenda, perspiciatis tenetur!
      </p>
    </div>
  </main>
</Layout>
