---
import { getRelativeLocaleUrl } from 'astro:i18n'
import LanguageLink from './language-link.astro'

const pathname = Astro.url.pathname
const currentLocale = Astro.currentLocale
const pathWithoutLocale = pathname.replace(`/${currentLocale}`, '')

const englishCurrentPath = getRelativeLocaleUrl('en', pathWithoutLocale)
const portugueseCurrentPath = getRelativeLocaleUrl('pt-br', pathWithoutLocale)

const label = currentLocale === 'en' ? 'Switch language' : 'Trocar de idioma'
---

<div class='absolute right-0 top-0 p-5 text-lg'>
  <p id='language-selector' aria-hidden='true' class='sr-only'>{label}</p>
  <nav aria-labelledby='language-selector' class='flex gap-4'>
    <ul aria-labelledby='language-selector' class='contents'>
      <li>
        <LanguageLink
          href={englishCurrentPath}
          abbreviation='en'
          description='English'
          isCurrent={currentLocale === 'en'}
        />
        <li>
          <LanguageLink
            href={portugueseCurrentPath}
            abbreviation='pt-br'
            description='Português Brasileiro'
            isCurrent={currentLocale === 'pt-br'}
          />
        </li>
      </li>
    </ul>
  </nav>
</div>
